<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="dev.grack.matchschedulefootbal">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name="dev.grack.AppController"
    android:allowBackup="true"
    android:hardwareAccelerated="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".NavigationActivity"
      android:label="@string/app_name"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.detail.DetailActivity"
      android:label=""
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".activity.mainactivity.MainActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".activity.searchactivity.SearchActivity"
      android:label="Search Matches"
      android:parentActivityName=".NavigationActivity"
      android:theme="@style/AppTheme.NoActionBar"
      tools:targetApi="jelly_bean" />
    <activity
      android:name=".activity.searchteams.SearchTeamActivity"
      android:label="Search Teams"
      android:parentActivityName=".NavigationActivity"
      android:theme="@style/AppTheme.NoActionBar"
      tools:targetApi="jelly_bean" />
    <activity
      android:name=".activity.detailteam.DetailTeamActivity"
      android:parentActivityName=".activity.searchteams.SearchTeamActivity"
      android:theme="@style/AppTheme.NoActionBar"
      tools:targetApi="jelly_bean" />
    <activity
      android:name=".activity.player.PlayerActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".activity.playerdetail.PlayerDetailActivity"
      android:label="@string/title_activity_player_detail"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:name=".activity.league.LeagueActivity"
      android:theme="@style/AppTheme.NoActionBar" />
  </application>

</manifest>